
.menu > a{
    padding-left: 2%;
    width: 50%;
    text-decoration: none;
    font-size: 140px;
    color: #C08EF5;
}
.menu > a > span{
    color: #FFFFFF;
}
.showMenu{
    width: 10%; 
    margin-right: 5%;
    padding-top: 5px;
}
.showMenu > a{
    text-decoration: none;
    font-size: 130px;
    color: #C08EF5;
}